server:
  port: 8080

spring:
  profiles:
    active: awsparamstore
  cloud:
    enabled: true
    config:
      server:
        awsparamstore:
          enabled: true
          region: ap-northeast-1
          profile-separator: _
  application:
    name: config-server

eureka:
  instance:
    instance-id: ${spring.cloud.client.hostname}:${spring.application.instance_id:${random.value}}
  client:
    service-url:
      defaultZone: ${eureka.server.url}